# bin
/bin/
/assets/
*.dex

# eclipse setting
/proguard-project.txt
/.settings/
*.project
project.properties

# generating
/.classpath
/gen/
lint.xml

# windows
*.lnk

# IntelliJ
/.idea/
/out/
*.iml

